@model Restaurants.ViewModels.RestaurantsSearchViewModel
@using PagedList.Core.Mvc

@{
    ViewData["Title"] = "Resturants Search";
}

<h4>Resturants Search</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Post" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <button onclick="getLocation()" class="btn btn-primary">Use My Location</button>
            <p id="location-error" class="text-danger"></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @{ if (Model.DisplayError)
            { <p class="text-danger">@Model.ErrorMessage</p>
        }

        if (Model.HasResults)
        {
            await Html.RenderPartialAsync("ResturantsPartialView", Model.Restaurants);

            <p>
                <pager class="pager-container" list="@Model.Restaurants" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-action="Index" asp-controller="Home" asp-route-postcode="@Model.PostCode" asp-route-latitude="@Model.Latitude" asp-route-longitude="@Model.Longitude" />
            </p>
        }
        }
    </div>
</div>
